/* HEADER */
#content-studio h2, #content-video-form h2 {
    margin-bottom: 0.25rem;
}
#content-studio h3, #content-video-form h3 {
    font-weight: 700;
    margin-bottom: 0.25rem;
}
#content-studio h3 i, #content-video-form h3 i {
    font-style: italic;
    font-weight: inherit;
}
#content-studio > div, #content-video-form > div {
    max-width: 40rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--padding-base-size);
    margin-bottom: calc(2*var(--padding-base-size));
}

/* VIDEO LIST */
.edit-video-list ul {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    gap: var(--padding-base-size);
}
.edit-video-list li {
    display: block;
}
.edit-video-list ul li a {
    width: 100%;
    height: calc(5.125rem + 2*var(--padding-base-size));
    padding: var(--padding-base-size);
    background: var(--color-primary-100);
    border-radius: calc(0.5*var(--radius-base-size) + var(--padding-base-size));
    display: grid;
    grid-template-columns: min(180px, 30%, calc(16*5.125rem/9)) minmax(0, 1fr) 1.5rem;
    gap: var(--padding-base-size);
    transition: scale 200ms ease-in-out;
}
.edit-video-list ul li a::hover {
    scale: 1.1;
}
.edit-video-list video.video-thumbnail {
    width: 100%;
    height: 5.125rem;
    object-fit: contain;
    background: #000000;
    border-radius: calc(0.5*var(--radius-base-size));
}
.edit-video-list article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.edit-video-list h4 {
    display: block;
    line-height: 1.25;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    overflow: clip;
    word-wrap: break-word;
    max-height: 3.75em;
    width: 100%;
}
.edit-video-list article span {
    display: block;
    font-size: 0.875rem;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
}
.edit-video-list article + span {
    display: block;
    font-size: 1.25rem;
    margin-block: auto;
}

/* CONTENT FORMS */
#content-form-success h2 {
    margin-bottom: 1rem;
}
#content-form-success div {
    display: flex;
    gap: 1rem;
}