/* VIDEO LIST */
#content-studio h3 {
    font-style: italic;
    font-weight: 700;
    margin-bottom: 0.25rem;
}
#content-studio > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--padding-base-size);
    margin-bottom: var(--padding-base-size);
}
.edit-video-list ul {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    gap: var(--padding-base-size);
}
.edit-video-list li {
    display: block;
}
.edit-video-list ul li a {
    width: 100%;
    padding: var(--padding-base-size);
    background: var(--color-primary-200);
    border-radius: calc(0.5*var(--radius-base-size) + var(--padding-base-size));
    display: grid;
    grid-template-columns: min(180px, 30%) minmax(0, 1fr) 1.5rem;
    gap: var(--padding-base-size);
    transition: scale 200ms ease-in-out;
}
.edit-video-list ul li a::hover {
    scale: 1.1;
}
.edit-video-list video.video-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: calc(0.5*var(--radius-base-size));
}
.edit-video-list h4 {
    display: block;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    overflow: clip;
    word-wrap: break-word;
    max-height: 5em;
    margin-block: auto;
    width: 100%;
}
.edit-video-list span {
    display: block;
    font-size: 1.5rem;
    margin-block: auto;
}

/* CONTENT FORMS */
#content-video-form h2 {
    margin-bottom: 0.25rem;
}
#content-video-form h3 {
    margin-bottom: 2rem;
    font-weight: 700;
}
#content-video-form h3 i {
    font-style: italic;
    font-weight: inherit;
    font-size: inherit;
}
#content-form-success h2 {
    margin-bottom: 1rem;
}
#content-form-success div {
    display: flex;
    gap: 1rem;
}