/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;

    padding: 0;
    padding-inline: 0;
    padding-block: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    margin: 0;
    margin-inline: 0;
    margin-block: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    inset: unset;
    inset-inline: unset;
    inset-block: unset;
    inset-inline-start: unset;
    inset-inline-end: unset;
    inset-block-start: unset;
    inset-block-end: unset;

    max-width: none;
    max-height: none;

    font-weight: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    word-spacing: normal;
    text-wrap-style: pretty;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    font-family: inherit;
    list-style: none;

    background: none;
    border: none;
    outline: none;
    color: inherit;
    border-radius: 0;
}

@font-face {
    font-family: "DM Sans";
    src: url("../fonts/dm_sans.ttf");
}
@font-face {
    font-family: "DM Sans Italic";
    src: url("../fonts/dm_sans_italic.ttf");
    font-style: italic;
}

:root {
    --color-primary-100: #efdebb;
    --color-primary-200: #f0d9a7;
    --color-primary-300: #f7cd79;
    --color-primary-400: #f7c561;
    --color-primary-500: #ffbf3f;
    --color-primary-600: #e9a10f;
    --color-grayscale-100: #f2f0ea;
    --color-grayscale-200: #dbd9d6;
    --color-grayscale-300: #b1b0ad;
    --color-grayscale-400: #898887;
    --color-grayscale-500: #5e5e5e;
    --color-grayscale-900: #201f1f;
    --color-selection: #3f69ff;

    --padding-base-size: clamp(0.5rem, 4vw, 2rem);
    --radius-base-size: clamp(0.5rem, 2vw, 1rem);
}

body {
    font-family: "DM Sans", sans-serif;
    background: var(--color-grayscale-100);
    color: var(--color-grayscale-900);
}
header {
    position: sticky;
    padding: 1rem;
    background: var(--color-primary-500);
}
main {
    padding: var(--padding-base-size);
}
h1 {
    font-size: 1.5rem;
    font-weight: 700;
}
h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

*:focus-visible {
    outline: 2px solid var(--color-selection);
}