/* BUTTONS */

button, input[type="button"], input[type="submit"], .button-link {
    display: block;
    width: fit-content;
    border-radius: var(--radius-base-size);
    padding: 0.625rem 0.75rem;
    line-height: 1.25;
    background: var(--color-primary-700);
    color: var(--color-grayscale-100);
    cursor: pointer;
}
.button-disabled {
    background: var(--color-grayscale-400);
    color: var(--color-grayscale-500);
    cursor: default;
    pointer-events: none;
}
.icon-text-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    padding: 0.625rem 0.75rem 0.625rem 0.625rem;
}
.icon-text-button .material-symbols-outlined {
    font-size: 1.25rem;
}
.form-end-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--padding-base-size);
}

/* TEXT INPUTS */

form.entry-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 40rem;
}
.form-input label, search label {
    display: block;
    margin-bottom: 0.5rem;
}
.form-input label i {
    font-style: italic;
}
input[type="text"], textarea {
    display: block;
    width: 100%;
    line-height: 1.25;
    padding: calc(0.5rem - 1.5px) calc(0.75rem - 1.5px);
    border: 1.5px solid var(--color-grayscale-600);
    border-radius: var(--radius-base-size);
    background: var(--color-grayscale-100);
}
textarea {
    resize: none;
    field-sizing: content;
    max-height: 11rem;
}
form.entry-form textarea {
    min-height: 6rem;
}

/* SEARCH SPECIFIC */
search div {
    position: relative;
}
search .search-button {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 1;
    height: unset;
    font-size: 1.25rem;
    padding: calc(0.5rem - 1.5px);
    margin: 1.5px;
    border-radius: 0 calc(var(--radius-base-size) - 1.5px) calc(var(--radius-base-size) - 1.5px) 0;
}
input:has(~ button:focus-visible) {
    outline: 3px solid var(--color-grayscale-300);
}