/* LOGIN AND LOGGED OUT PAGES */
#login-page, #logged-out-page {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
#login-page section, #logged-out-page section {
    background: var(--color-grayscale-100);
    position: relative;
    padding: calc(1.5*var(--padding-base-size));
    border-radius: var(--radius-base-size);
    margin: calc(0.3125rem + 1.25*var(--padding-base-size));
    margin-top: 0;
    box-shadow: 0 2px 6px 2px #00000016;
}

/* LOGIN PAGE */
#login-page h1 {
    margin-bottom: 2rem;
}
#login-page h1 > * {
    display: block;
    line-height: 1;
    text-align: center;
    text-wrap: balance;
}
#login-page h1 strong {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}
#login-page h1 span {
    font-size: 1.25rem;
    font-weight: 400;
    font-style: italic;
    color: var(--color-grayscale-500);
}
#login-page h2 {
    font-size: 1rem;
    font-weight: 700;
}
#login-page .form-end-buttons {
    justify-content: flex-end;
}
#login-page section::before {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% + 3*var(--padding-base-size) + 0.3125rem);
    height: calc(100% - 1.5rem + 0.3125rem);
    top: calc(1.5rem + 1.5*var(--padding-base-size) - 0.15625rem);
    left: calc(-1.5*var(--padding-base-size) - 0.15625rem);
    border-radius: calc(var(--radius-base-size) + 0.3125rem);
    border: 0.3125rem solid var(--color-primary-500);
    z-index: -1;
}

/* LOGGED OUT PAGE */
#logged-out-page h2 {
    margin-bottom: 1rem;
}