header {
    position: sticky;
    top: 0;
    padding: 0 calc(0.25*var(--padding-base-size));
    background: var(--color-primary-500);
    box-shadow: 0 0 8px 4px var(--color-grayscale-200);
}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 0.25rem 1rem; */
    justify-content: flex-end;
}
nav a {
    position: relative;
    padding: calc(0.75*var(--padding-base-size));
}
nav a > * {
    line-height: 1.5rem;
}
nav a, nav a > * {
    display: block;
}
.nav-link-active::after {
    content: "";
    position: absolute;
    width: calc(100% - 1.5*var(--padding-base-size));
    height: 0.25rem;
    left: calc(0.75*var(--padding-base-size));
    bottom: 0;
    background: var(--color-primary-700);
    border-radius: 0.125rem 0.125rem 0 0;
}
.home-link {
    margin-right: auto;
}