#upload-video-form h2 {
    margin-bottom: 0.25rem;
}
#upload-video-form h3 {
    margin-bottom: 2rem;
    font-style: italic;
}
#upload-video-success h2 {
    margin-bottom: 1rem;
}
#upload-video-success div {
    display: flex;
    gap: 1rem;
}