#video-list-page h2 {
    margin-bottom: calc(1.5*var(--padding-base-size));
}
.video-list {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    gap: calc(1.5*var(--padding-base-size));
}
.video-option {
    width: 100%;
    padding: var(--padding-base-size);
    background: var(--color-primary-200);
    border-radius: calc(0.5*var(--radius-base-size) + var(--padding-base-size));
    display: grid;
    grid-template-columns: min(240px, 40%) 1fr;
    gap: var(--padding-base-size);
    transition: scale 200ms ease-in-out;
}
.video-option::hover {
    scale: 1.1;
}
.video-option video.video-thumbnail {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: calc(0.5*var(--radius-base-size));
}
.video-details {
    width: 100%;
    min-width: 0;
}
.video-option h3, .video-option h4, .video-option p {
    line-height: 1.25;
}
.video-option h3 {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: clip;
    word-wrap: break-word;
    max-height: 2.5em;
    width: 100%;
}
.video-option h4 {
    display: block;
    text-overflow: ellipsis;
    margin-top: 0.25rem;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
}
.video-option h4 i {
    font-style: italic;
}
.video-option p {
    font-size: 0.875rem;
    margin-top: 0.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: clip;
    word-wrap: break-word;
    max-height: 2.5em;
}